{% extends 'base.html' %} {% load static %} {% block content %}

<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="shop__sidebar__search">
                    <form action="#">
                        <input type="text" name="search" placeholder="Search...">
                        <button type="submit"><span class="icon_search"></span></button>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="shop__product__option__right">
                    <p>Sort by Price:</p>
                    <select onchange="location = this.value;">
                        <option value="http://127.0.0.1:8000/blog/">Filter</option>
                        <option value="/blog/?search=approved">Approved</option>
                        <option value="/blog/?search=not_approved">Not Approved</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            {% for i in data %} {% if i.is_approved %}
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="{{ i.image.url}}">
                    </div>
                    <div class="blog__item__text">
                        <span><img src="{% static 'img/icon/calendar.png' %}" alt=""> {{ i.pub_date  }}
                            {% if i in fav_blogs %}
                            <i class="fa fa-heart" id="heart" style="color: red; font-size: 20px;"></i>
                            {% else %}
                            <a href="{% url 'add_fev_blog' i.id %}"><img src="{% static 'img/icon/heart.png' %}" alt=""></a>
                            {% endif %}
                        </span>
                        <h5>{{i.title}}</h5>
                        <h5>Author:- {{i.user}}</h5>
                        <a href="{% url 'details' i.id %}">Read More</a>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="blog__item__text">
                <span><img src="{% static 'img/icon/calendar.png' %}" alt=""> {{ i.pub_date  }}</span>
                <h2>Under approved</h2>
                <h5>{{i.title}}</h5>
                <h5>Author:- {{i.user}}</h5>
                <a>Read More</a>
            </div>
            {% endif %} {% endfor %}
        </div>
    </div>
</section>
<!-- Blog Section End -->
<div class="row row-cols-1 row-cols-md-2">
    {% for post in posts %}
    <div class="col mb-4">
        <div class="card">
            <div class="view overlay">
                <img class="card-img-top" src="{{post.image.url}}" alt="">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title">{{post.title}}</h4>
                <p class="card-text">{{post.description}}</p>
                <a href="{% url 'detail' post.id %}" class="btn btn-primary btn-md">Read more</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}