<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .helptext {
            display: none;
        }
        
        ul {
            display: none;
        }
    </style>
</head>

<body>

    {% extends "base.html" %}{% block content %}
    <form method="post">
        {% csrf_token %} {{form.as_p}}
        <input type="submit" value="Submit" /><br>
    </form>
    {% endblock %}
</body>

</html>